* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar, .main-section {
    background-color: hsl(222, 26%, 15%);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1%;
}

.fylo-logo {
    padding-left: 3%;
}

.navigation {
    display: flex;
    padding-right: 3%;
}

.nav-links {
    list-style: none;
    padding: 0 20px;
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-size: 105% 60%;
    background-position: -130px 450px;
}

.main-section img {
   width: 80%;
   height: 100%;
   padding-left: 18%;
}

.main-section h1 {
    font-weight: 700;
    font-size: 43px;
    font-family: 'Raleway', sans-serif;
    
    text-align: center;
    line-height: 1.3;

    width: 60%;
    margin-left: 18%;
    padding-top: 15px;
    padding-bottom: 30px;
}

.main-section p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 43%;
    margin-left: 25%;
    margin-bottom: 2%;
}

.get-started {
    background-color: hsl(186, 63%, 72%);
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 20%;
    height: 50px;
    border-radius: 30px;
    margin-left: 36%;
    margin-bottom: 15%;
}


.services-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 22%;
    background-color: hsl(218, 28%, 13%);
}

.services {
    flex: 0 1 34%;  /*grow shrink basis*/
    margin-bottom: 5%;
}

.services img {
    padding-left: 45%;
}

.services h2, .services p {
    text-align: center;
    color: white;
}

.services h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 3;

}

.services p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 78%;
    padding-left: 22%;
    margin-bottom: 4%;
}

.productive {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 12%;
    padding-bottom: 8%;

    color: white;
    background-color: hsl(217, 27%, 13%);

}

.productive-words {
    margin-left: 5%;
}

.productive-words h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    width: 50%;
    margin-bottom: 2%;
}

.productive-words p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 60%;
    padding-bottom: 2%;
}

.productive-words a {
    color: hsl(176, 68%, 64%);
}

.productive-words a:hover {
    color: white;
}

.testimonials-list {
    display: flex;
    background-color: hsl(217, 27%, 13%);
    padding-left: 23%;
    width: 100%;

    /* background-image: url(images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 22.5% 0%;     */
}

.not-flipped {
    height: 48px;
}

.flipped {
    height: 48px;
    margin-left: 2%;
    transform: scale(-1, -1);
}

.testimonials {
    color: white;
    background-color: hsl(222, 29%, 18%); 
    border-radius: 10px;
    width: 20%;
    min-height: 220px;
    margin-left: 2%;
    margin-bottom: 15%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
}

.testimonials img {
    border-radius: 100px;
    width: auto;
    height: 38px;
    margin-right: 3%;
}

.testimonials p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin-bottom: 5%;
    width: 100%;
}

.testimonials h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    display: flex;
    width: 100%;
}

.testimonials span {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    width: 100%;
}

section.profiles {
    display: flex;
    width: 100%;
}

.early-access {
   display: flex;
   flex-direction: column;
   color: white;
   background-color: hsl(218, 50%, 9%);
   position: relative;
}

.early-access > section {
    background-color: hsl(217, 28%, 15%); 
    width: 30%;
    min-height: 250px;
    border-radius: 15px;

    position: absolute;
    /* top: -7em;
    left: 34%; */

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    
    text-align: center;
}

.early-access > section h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    padding-top: 6%;
    padding-bottom: 2%;
}

.early-access > section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 90%;
    padding-left: 11%;
    padding-bottom: 5%;
    line-height: 1.5;
}

.early-email input {
    width: 50%;
    min-height: 40px;
    border-radius: 100px;
}

.early-email input::placeholder {
    padding-left: 8%;
    color:rgb(197, 202, 207);
    font-family: 'Open Sans', sans-serif;
}

.get-started-free {
    background-color: hsl(186, 60%, 57%);
    color: white;
    min-width: 25%;
    min-height: 40px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: hsl(218, 50%, 9%);
    color: white;
    height: 430px;
    display: flex;
}

.about-us-footer {
    flex: 0 0 25%;
    padding-top: 6%;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;

    /* border: 1px solid red; */
}

.footer1 {
    padding-left: 7%;
}

.footer1 section {
    display: flex;
    padding-top: 7%;
}

.footer1 section img {
    height: 20px;
}

.footer1 p {
    width: 65%;
    padding-left: 5%;
    line-height: 1.5;
}

.footer2 {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-top: 9%;
    line-height: 3;
}

.footer2 img {
    padding-right: 3%;
}

.footer3 {
    display: flex;
}

.footer-links  ul{
    list-style: none; 
    line-height: 2;
}

.footer-links {
    padding-top: 13%;
    padding-left: 20%;
}

.footer4 i {
    width: 10%;
    padding-left: 20%;
    padding-top: 13%; 
}

/* MEDIA QUERIES */

@media (min-width: 320px) and (max-width: 530px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;   
    }

    .fylo-logo {
        width: 30%;
        padding-bottom: 5%;   
    }

    .navigation {
        display:none;
    }

    .main-section {
        width: 100%;
    }

    .main-section h1 {
        width: 100%;
        font-size: 25px;
        text-align: center;
        margin-left: 0%;
        line-height: 1.5;
    }

    .main-section p {
        width: 100%;
        margin: 0%;
        font-size: 15px;
        line-height: 1.5;
    }

    button.get-started {
        width: 80%;
        margin-left: 10%;
        margin-top: 8%;
        margin-bottom: 40%;
    }

    .services-list {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-bottom: 22%;
    }

    .services img {
        padding-left: 40%;
    }

    .services p{
        width: 90%;
        padding-left: 10%;
        padding-bottom: 15%;
    }

    .productive {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .productive img {
        width: 95%;
    }

    .productive-words {
        padding-bottom: 45%;
    }

    .productive-words h2 {
        font-size: 20px;
        width: 100%;
        padding-bottom: 3%; 
    }

    .productive-words p {
        width: 85%;
        padding-bottom: 5%;
        line-height: 1.5;
    }

    .testimonials-list {
        display:flex;
        flex-direction: column;  
        padding: 5%;
    }

    .testimonials {
        width: 95%;
        min-height: 180px;
        padding: 5%;
    }

    .testimonials p {
        font-size: 13px;
    }

    .not-flipped {
        width: 13%;
        height: 20px;
        margin-bottom: 5%;
    }

    .flipped {
        width: 13%;
        height: 20px;
        margin-left: 85%;
        margin-top: -10%;
        margin-bottom: 70%;
        
    }

     .early-access > section {
         width: 90%;
         height: 300px;
         min-height: 310px;
         border-radius: 40px;
     
         position: absolute;

         left: 0;
         right: 0;
         top: 0;
         bottom: 0;
         margin: auto;
         
         text-align: center;
     }

     .early-access > section h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        padding-top: 10%;
        padding-bottom: 5%;
    }
    
    .early-access > section p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        width: 90%;
        padding-left: 11%;
        padding-bottom: 8%;
        line-height: 1.5;
    }

     .early-email {
        display: flex;
        flex-direction: column;
     }

     .early-email input {
        width: 80%;
        min-height: 35px;
        border-radius: 100px;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .get-started-free {
        width: 80%;
        min-height: 35px;
        margin-left: 10%;
    }

    footer {
        padding-top: 60%;
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
    }

    .about-us-footer {
        flex: 0 0 10%;
    }

    .footer1 p {
        width: 90%;
    }

    .footer3 {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        padding: 8%;
    }

    .footer4 {
        padding-bottom: 10%;
        padding-left: 15%;
    }
}

@media (min-width: 531px) and (max-width: 768px) {

    nav.navbar img{
        width: 25%;
    }

    .main-section {
        width: 100%;
    }

    .main-section h1 {
        font-size: 25px;
        width: 100%;
        margin-left: 3%;
    }

    .main-section p {
        width: 90%;
        margin-left: 5%;
        line-height: 1.5;
        padding-bottom: 5%;
    }

    .get-started {
        width: 45%;
        margin-left: 28%;
    }

    .services-list {
        display: flex;
        justify-content: space-around;
        padding-top: 20%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 25%;
    }

    .services {
        width: 100%;
    }

    .services img {
        padding-left: 35%;
    }

    .services h2 {
        line-height: 1.5;
        padding-bottom: 10%;
    }

    .services p {
        width: 100%;
        padding: 0%;
    }

    .productive {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .productive > img {
        width: 80%;
        padding-bottom: 8%;
    }

    .productive-words {
        width: 100%;
        padding-bottom: 10%;
    }

    .productive-words h2 {
        width: 75%; 
        padding-bottom: 3%;
    }

    .productive-words p {
        width: 70%;  
    }

    .not-flipped, .flipped {
        width: 5%;
        height: 30px;
    }

    .testimonials-list {
        padding: 2%;
        padding-bottom: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 3%;
    }

    .early-access > section {
        width: 70%;
        min-height: 250px;
        border-radius: 40px;
    
        position: absolute;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        text-align: center;
    }

    .early-access > section h2 {
       font-family: 'Raleway', sans-serif;
       font-size: 18px;
       padding-top: 5%;
       padding-bottom: 5%;
   }
   
   .early-access > section p {
       font-family: 'Open Sans', sans-serif;
       font-size: 15px;
       width: 90%;
       padding-left: 11%;
       padding-bottom: 8%;
       line-height: 1.5;
   }

   .get-started-free {
       width: 40%;
   }

   footer {
       padding-top: 30%;
       display: flex;
       flex-direction: column;
       height: 100%;
       min-height: 100%;
    }

    .about-us-footer {
       flex: 0 0 5%;
    }

    .footer1 p {
       width: 80%;
    }

    section.footer1 {
        margin-left: 10%;
    }

    section.footer2 {
        display: inline;
        margin-left: 10%;

    }

    .phone {
        padding-right: 15%;
    }

    .footer-links {
        padding-top: 2%;
        padding-left: 0%;
        padding-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-left {
       padding-bottom: 10%;
    }

    .footer4 {
        display: flex;
        justify-content: space-evenly;

    }

    .footer4 i{
        padding-top: 0%;
        padding-bottom: 10%;
        padding-left: 0%;
    }
} 

@media (min-width: 769px) and (max-width: 1024px) {

    .main-section {
        width: 100%;
    }

    .main-section h1 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    .main-section p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.5;
        padding-bottom: 5%;
    }

    .get-started {
        width: 30%;
        margin-left: 35%;
        margin-bottom: 20%;
        font-size: 15px;
    }

    .services-list {
        display: flex;
        justify-content: space-around;
        padding-left: 0%;
        width: 100%;
    }

    .services {
        padding-bottom: 10%;
    }

    .services img {
        padding-left: 37%;
        padding-bottom: 5%;
    }

    .services h2 {
        line-height: 1;
        padding-bottom: 5%;
    }

    .services p {
        width: 100%;
        padding: 0%;
    }

    .productive {
        width: 100%;
        padding-bottom: 15%;
    }

    .productive img {
        width: 55%;
    }

    .productive-words {
        width: 100%;
    }

    .productive-words h2 {
        width: 95%;
        font-size: 31px;
        padding-bottom: 7%;
    }

    .productive-words p {
        width: 85%;
        line-height: 1.7;
    }

    .testimonials {
        width: 100%;
    }

    .testimonials-list {
        padding: 2%;
        padding-bottom: 15%;
        margin-left: auto;
        margin-right: auto;  
    }

    .early-access > section {
        width: 55%;
        min-height: 290px;
        border-radius: 40px;
    
        position: absolute;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        text-align: center;
    }

    .early-access > section h2 {
       font-family: 'Raleway', sans-serif;
       font-size: 22px;
       padding-top: 5%;
       padding-bottom: 5%;
   }
   
   .early-access > section p {
       font-family: 'Open Sans', sans-serif;
       font-size: 16px;
       width: 90%;
       padding-left: 11%;
       padding-bottom: 8%;
       line-height: 1.5;
   }

   .get-started-free {
       width: 35%;
   }

   footer {
       width: 100%;
       padding-top: 25%;
       padding-bottom: 10%;
       height: 100%;
       min-height: 100%; 
   }

   .footer-logo {
       width: 80%;
   }

   .footer1 p {
       width: 100%;
   }
} 

@media (min-width: 1025px) and (max-width: 1440px) {

    .services-list {
        display: flex;
        justify-content: space-around;
        padding-left: 0%;
        padding-bottom: 15%;
    }

    .productive-words h2 {
        width: 70%;
        padding-bottom: 3%;
    }

    .productive-words p {
        width: 65%;
    }

    .testimonials {
        width: 100%;
    }

    .testimonials-list {
        padding-left: 0%;
        padding-bottom: 10%;
    }

    .early-access > section {
        width: 45%;
        min-height: 300px;
        border-radius: 40px;
    
        position: absolute;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        text-align: center;
    }

    .early-access > section h2 {
       font-family: 'Raleway', sans-serif;
       font-size: 25px;
       padding-top: 5%;
       padding-bottom: 5%;
   }
   
   .early-access > section p {
       font-family: 'Open Sans', sans-serif;
       font-size: 17px;
       width: 90%;
       padding-left: 11%;
       padding-bottom: 8%;
       line-height: 1.5;
   }

   .get-started-free {
       width: 35%;
   }

   footer {
       padding-top: 10%;
   }

   .footer1 p{
       width: 100%;
   }
     

}





  


