* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif; 
}

section {
    background-color: white;
    border-radius: 5%;
    width: 15%;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section img {
    border-radius: 6%;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}

section h3 {
    text-align: center;
    width: 65%;
    margin: 7% 16%;
}

section p {
    text-align: center;
    width: 70%;
    margin: 5% 13%;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}


@media screen and (max-width: 1440px)  {

    section {
        width: 20%;
    }

    section h3 {
        width: 75%;
        margin: 7% 12%;
    }

    section p {
        width: 85%;
        margin: 8% 6%;

    }
}

@media screen and (max-width: 1024px) {

    section {
        width: 30%; 
    }
        
    section h3 {
        width: 90%;
        margin: 5% 5%;
    }
}    

@media screen and (max-width: 768px) {

    section {
        width: 35%;
    }
}



